<!DOCTYPE html>
<html>
  <head>
    <title>CampWeekdayTask7</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="jumbotron text-center" style="margin-bottom:0">
  　<h1>タイトルを自分で考えて記入して下さい。</h1>
    <p>説明文を自分で考えて記入して下さい。</p>
  </div>
    <%= render "shared/header" %>
  
    <%= yield %>
  </body>
</html>
